<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>系统管理后台</title>
  <script src="https://static.suosihulian.com/pageLog.js"></script>

</head>

<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
</body>
<script>
  // window.suosi_pageLog.init({
  //   isProd: false,
  //   corp_id: '0039',
  // });

  // window.onload = function () {
  //   var loadTime = window.performance.timing.domContentLoadedEventEnd - window.performance.timing.navigationStart;
  //   console.log('Page load time is ' + loadTime);
  // }

</script>

</html>